
html,
body {
    margin:0;
}

body {
    background-image: url(../images/vintage-concrete.png)
}

.card-title {
    border-bottom: 2px solid black;
    padding: 10px;
}

.card,
.gif-button {
    /* width: 18rem; */
    display: inline-block;
}